body {
  margin: 50px;
  display: flex;
  justify-content: center;
  user-select: none;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
h1 {
    margin: 0px;
}
.movable-element {
  position: absolute;
  top: 50px;
  left: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0);
}
.image-main {
  width:400px;
  height: auto;
}
.curly-text {
  position: absolute;
  background-color:rgba(0, 0, 0, 0);
  outline:none;
  font-size:50px;
  white-space: nowrap;
  text-align: center;
  color:#3172c2;
  min-width: 40px;
}
.straight-text {
  position: absolute;
  background-color:rgba(0, 0, 0, 0);
  outline:none;
  font-size:35px;
  white-space: nowrap;
  text-align: center;
  min-width: 40px;
}
iframe {
  height: 750px;
  width: 600px;
  border-width: 3px;
  border-color:rgb(208, 208, 208);
  border-style: outset;
  user-select: none;
}
#download-button {
  margin-left: 20px;
  background-color: #FFF;
  border-width: 3px;
  border-color:rgb(208, 208, 208);
  border-style: outset;
  transition-duration: 0.2s;
}
#download-button:hover {
  background-color: #f6f6f6;  
  border-style: inset;
  cursor: pointer;
}
#menu-list {
  top: 200px;
  position: absolute;
  background-color: #FFF;
  border-radius: 10px;
  transition-duration: 1s;
  display:none; 
	align-items:center;

}
.menu-button-container {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}
.menu-button {
  display:block;
  height: 35px;
  width: 100%;
  font-size: 16px;
  background-color: #FFF;
  border: none;
  transition-duration: 0.1s;
}
.menu-button:hover {
  background-color: #d3d3d3; 
  cursor: pointer;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 15px;
  margin: 10px 10%;
  background: #ccc;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #666;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #666;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.slider:focus { outline: none; }
.slider:active { opacity: 1; }
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
#background-element {
  position:absolute;
  /* background-color: #FFF; */
  background: repeating-linear-gradient(
    45deg,
    #FFF 25%,
    #FFF 50%,
    #EEE 50%,
    #EEE 75%
  );
  background-size: 30px 30px;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}





@font-face {
    font-family: 'Marcellus';
    src: url('./fonts/marcellus.ttf');
}
@font-face {
    font-family: 'Black-Mango';
    src: url('./fonts/black-mango.ttf');
}
@font-face {
    font-family: 'Brush-Script';
    src: url('./fonts/brush-script.ttf');
}